html.color-theme-in-transition, html.color-theme-in-transition *, html.color-theme-in-transition *:before, html.color-theme-in-transition *:after {
  transition: all 300ms !important;
  transition-delay: 0 !important;
}

html {
  /* global colors */
  --primaryClr: #00D09C;
  --primaryClr60: #66E3C4;
  --primaryClr30: #dfe7e3;
  --primaryClr20: rgba(0, 208, 156, 0.1);
  --primaryClr10: #E5FAF5;
  --primaryClr05: #F4FDFA;
  --secondaryClr: #5367FF;
  --secondaryClr150: #1E2232;
  --secondaryClr130: #4E5DCE;
  --secondaryClr60: #98A4FF;
  --secondaryClr30: #DCE1FF;
  --aquaBlue: #49dddf;
  --growwYellow: #FFB61B;
  --growwYellow10: #FFF5E0;
  --growwYellow05: rgba(255, 182, 27, 0.05);
  --growwRed: #EB5B3C;
  --growwRed130: #910000;
  --growwRed60: rgba(235, 91, 60, 0.6);
  --growwRed10: #FAE9E5;
  --growwRed05: rgba(235, 91, 60, 0.05);
  --border: #F2F2F2;
  --iconLight: #919191;
  --iconMedium: #D8DADC;
  --iconStrong: #F0F1F2;
  --boxShadow: rgba(0, 0, 0, 0.1);
  --text130: #1a1a1a;
  --text: #44475B;
  --subText: #333;
  --subText10: #636464;
  --subText20: #919191;
  --subText30: #999999;
  --subText40: #80868B;
  --subText50: #C7C8CE;
  --subText70: #ECEDEF;
  --primaryBg: #FFFFFF;
  --secondaryBg: #FFFFFF;
  --tertiaryBg: #ECEEF2;
  --quaternaryBg: #F9FAFA;
  --preloaderBg: #F9FAFA;
  --rippleNormal: rgba(0, 0, 0, 0.10);
  --transparent: rgba(0, 0, 0, 0.5);
  --constantPrimaryClr60: #66E3C4;
  --constantGrowwYellow150: #D2AB66;
  --constantText: #44475B;
  --constantText120: #191C27;
  --constantSubText10: #636464;
  --constantSubText30: #999999;
  --constantWhite: #FFFFFF;
  --constantTransparent: rgba(0, 0, 0, 0);
  --constantHalfTransparent: rgba(0, 0, 0, 0.5);
  --constantSecondaryClr180: rgb(35, 38, 75);
  --constantSecondaryClr10: rgba(87, 104, 233, 0.06);
  --constantAnchorBlue: #29a6f6;
  --constantLaserBlue: #77b6ff;
}

html[data-theme="dark"] {
  /* global colors */
  --primaryClr: #0ABB92;
  --primaryClr60: #0B5E49;
  --primaryClr30: #dfe7e3;
  --primaryClr20: rgba(10, 187, 146, 0.1);
  --primaryClr10: #0E231E;
  --primaryClr05: #222C35;
  --secondaryClr: #5367FF;
  --secondaryClr150: #1E2232;
  --secondaryClr130: #4E5DCE;
  --secondaryClr60: #181A2A;
  --secondaryClr30: #DCE1FF;
  --aquaBlue: #49dddf;
  --growwYellow: #E7A61A;
  --growwYellow10: #2E2105;
  --growwYellow05: #222C35;
  --growwRed: #D55438;
  --growwRed130: #910000;
  --growwRed60: rgba(235, 91, 60, 0.6);
  --growwRed10: #2A0F09;
  --growwRed05: rgba(213, 84, 56, 0.05);
  --border: #30383D;
  --iconLight: #828689;
  --iconMedium: #D8DADC;
  --iconStrong: #F4F4F5;
  --boxShadow: rgba(0, 0, 0, 0.6);
  --text130: #DCDCDD;
  --text: #DCDCDD;
  --subText: #333;
  --subText10: #F6F6F7;
  --subText20: #F9F9FA;
  --subText30: #828689;
  --subText40: #80868B;
  --subText50: #4D4D4D;
  --subText70: #1D1D1D;
  --primaryBg: #121C25;
  --secondaryBg: #222C35;
  --tertiaryBg: #222C35;
  --quaternaryBg: #222C35;
  --preloaderBg: #3F4D5A;
  --rippleNormal: rgba(255, 255, 255, 0.15);
  --transparent: rgba(0, 0, 0, 0.7);
  --constantPrimaryClr60: #66E3C4;
  --constantGrowwYellow150: #D2AB66;
  --constantText: #44475B;
  --constantText120: #191C27;
  --constantSubText10: #636464;
  --constantSubText30: #999999;
  --constantWhite: #FFFFFF;
  --constantTransparent: rgba(0, 0, 0, 0);
  --constantHalfTransparent: rgba(0, 0, 0, 0.5);
  --constantSecondaryClr180: rgb(35, 38, 75);
  --constantSecondaryClr10: rgba(87, 104, 233, 0.06);
  --constantAnchorBlue: #29a6f6;
  --constantLaserBlue: #77b6ff;
}
